<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.officeflow.flow.mapper.FlowApproveRecordMapper">

    <insert id="insert" parameterType="com.officeflow.flow.entity.FlowApproveRecord"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO flow_approve_record (flow_apply_id, approver_id, action, comment, approved_at)
        VALUES (#{flowApplyId}, #{approverId}, #{action}, #{comment}, COALESCE(#{approvedAt}, NOW()))
    </insert>

    <select id="selectByApplyId" resultType="com.officeflow.flow.vo.FlowApproveRecordVO">
        SELECT far.id, far.approver_id AS approverId,
               far.action, far.comment, far.approved_at AS approvedAt
        FROM flow_approve_record far
        WHERE far.flow_apply_id = #{flowApplyId}
        ORDER BY far.approved_at ASC
    </select>

</mapper>
